html {box-sizing: border-box;}
*, ::before, ::after {box-sizing: inherit;}


:root {
    --primary: #F03000;
    --font1: #FFFFFF;
    --font2: #000000;
    --dates: #888888;
    --foot: #444444;
    --backgr: #F0F0F0;
    --backgr2: #80808080;
    }

/*marginy-mobil*/
.bottom-margin--mobil {
    margin-bottom: 40px;
}

/*marginy - tablet*/
@media screen  and (min-width: 768px) {
.bottom-margin--mobil {
    margin-bottom: 0
}

.bottom-margin--tablet {
    margin-bottom: 40px;
}
}

/*dořešit marginy u loga a velkého obrázku - mobil i tablet*/

.wholething  {
    padding: 0;
    margin: 20px auto;
    max-width: calc(100% - 40px);
}

/*header - mobil*/

.header__img {
   display: block;
   margin: 40px auto 30px;
   max-width: 235px;
}

.header__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
    list-style: none;
    padding: 0;
}


.header__link {
    display: inline-block;
    padding: 20px;
    color: var(--primary);
    font-size: 18px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
}

.header__link:hover {
    color: var(--font1);
    background-color: var(--primary);
}

/*header-tablet*/

@media screen  and (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .header__img {
        margin: 0;
    }

}

/*article-mobil*/

.article {
    background-size: cover;
    background-color: var(--backgr2);
    padding: 20px;
    background-position: center;
}

.article__price {
    display: inline-block;
    font-size: 24px;
    color: var(--font1);
    background-color: var(--primary);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0;
}

.article__price {
    margin-bottom: 80px;
}

.article + .article {
    margin-top: 20px;
}

.article__name {
    color: var(--font1);  
    font-family: Montserrat, Arial, Helvetica, sans-serif;
} 

.article__text {
    color: var(--font1); 
    font-size: 16px;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.article__name--big {
    font-size: 28px;
}

.article__name--small {
    font-size: 20px;
}

.article--var1 {
    background-image: url(images/palmy.png);
}

.article--var2 {
    background-image: url(images/jezero2.png);
}

.article--var3 {
    background-image: url(images/nakole.png);
}

.article--var4 {
    background-image: url(images/lodicka.png);
}

.article--var5 {
    background-image: url(images/podkova.png);
}

.article--var6 {
    background-image: url(images/zatoka.png);
}

/*articlee-tablet*/

@media screen  and (min-width: 768px) {

.trips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.article--big {
    grid-column: span 2;
}

.article + .article {
    margin: 0;
}
}
    
/*article-desktop*/

@media screen  and (min-width: 960px) {
    .trips--var1 {
        grid-template-columns: 2fr 1fr;
    }

    .trips--var2 {
        grid-template-columns: 1fr 2fr;
    }

    .article--var1 {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }

    .article--var4 {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    .article--big {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}



/*headline*/

.headline {
    font-size: 24px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/*section*/

.section {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 20px;
    background-color: var(--backgr);
    justify-content: center;
    gap: 20px;
}

.section + .section {
    margin-top: 10px;
}

.section__name {
    font-size: 18px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: var(--primary);
    margin: 0 0 10px;
    padding: 0;
}

.section__text {
    font-size: 16px;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.section__img {
    justify-self: center;
}

/*section - tablet*/

@media screen  and (min-width: 768px) {
    .section {
        display: block;
        text-align: center;
    }

    .section__name {
        margin: 20px;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px
    }

    .section + .section {
        margin: 0;
    }
}

/*section - desktop*/

@media screen  and (min-width: 960px) {
    .info {
        grid-template-columns: repeat(4, 1fr);
    }


}


/*news-mobil*/

.news {
    padding: 20px;
    background-color: var(--backgr);
}

.news + .news {
    margin-top: 20px;
}

.news__date {
    font-size: 16px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: var(--dates);
    margin: 0 0 10px;
    padding: 0;
}

.news__name {
    font-size: 16px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: var(--primary);
    margin: 0 0 10px;
    padding: 0;
}

.news__text {
    font-size: 16px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*news-desktop*/

@media screen  and (min-width: 960px) {
    .newsnews {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .news + .news {
        margin-top: 0;
    }
    


}


/*footer*/

.footer__info {
    margin: 0 auto;
    padding: 20px;
    background-color: var(--foot);
    color: var(--font1);
    text-align: center;
}